<div class="dashboard-container">
    <div class="dashboard-header">
      To Do Tasks
    </div>
  
    <form class="add-task-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <input
        type="text"
        name="title"
        [(ngModel)]="task.title"
        placeholder="Title"
        required
      />
      <input
        type="text"
        name="description"
        [(ngModel)]="task.description"
        placeholder="Description"
      />
      <button type="submit">
        <i class="fas fa-plus"></i> Add Task
      </button>
    </form>
  
    <h2 class="task-title">Tasks </h2>
    <ul class="task-list">
        <li *ngFor="let task of sortedTasks()" [ngClass]="{ 'completed': task.completed }">
          <div class="task-container">
            <!-- ✅ Toggle icon -->
            <span class="status-icon" (click)="onToggle(task)">
              {{ task.completed ? '✔️' : '⭕' }}
            </span>
      
            <!-- 📝 Task Text -->
            <div class="task-text">
              <span class="task-title">{{ task.title }}</span>
              <span class="task-desc">{{ task.description }}</span>
            </div>
      
            <!-- 🗑 Delete -->
            <span class="delete-icon" (click)="onDelete(task.id!)">🗑️</span>
          </div>
        </li>
      </ul>
      